#footer{
  min-width: 1200px;
  background-color: #ffd9e6;
  padding: 40px 0 50px 0;

  display: flex;
  justify-content: center;
  border-top: 3px solid #ffb6c1;
}
.footer-container{
  width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo-box{
  gap: 10px;
  display: flex;
  align-items: center;
}
.footer-logo-text{
  color: #ff4f79;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.4px;
  font-family: 'GimhaeGaya', serif;
}
.footer-link-box{
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-email-link{
  color: #ff8fa3;
  font-size: 12px;
  font-weight: 400;
  font-family: 'GimhaeGaya', serif;
}
.footer-copyright{
  color: #ff8fa3;
  font-size: 12px;
  font-weight: 400;
  font-family: 'GimhaeGaya', serif;
}
.footer-bottom{

}