#pagination-wrapper{
  display: flex;
  gap: 20px;
}
.pagination-change-link-box{
  display: flex;
  gap: 4px;
  align-items: center;

  cursor: pointer;
}
.pagination-change-link-text{
  color : black;

  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
}
.pagination-divider{
  color: darkgray;

  font-weight: 600;
  font-size: 14px;
  line-height: 140%;

  cursor: default;
}
.pagination-text-active{
  color : black;

  font-weight: 500;
  font-size: 14px;
  line-height: 140%;

  cursor: default;
}
.pagination-text{
  color: darkgray;

  font-weight: 600;
  font-size: 14px;
  line-height: 140%;

  cursor: pointer;
}

.icon-box-small {
  width: 16px;
  height: 16px;
}

.icon {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}