#main-top-wrapper{
  padding: 80px 0 40px;
  display: flex;
  justify-content: center;

}
.main-top-container{
  width: 1200px;
  min-width: 1200px;

  display: flex;
  flex-direction: column;
  gap: 56px;
  align-items: center;
}
.main-top-title{
  color: #ff4f79;
  font-family: GimhaeGaya, cursive;
  font-size: 40px;
  font-weight: 400;
  line-height: 140%;

  letter-spacing: -0.8px;
  white-space: pre-wrap;
  text-align: center;
}
.main-top-contents-box{
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  width: 100%;
}
.main-top-contents-title{
  font-family: GimhaeGaya, cursive;
  color: #f86689;
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
}
.main-top-contents{
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
#main-bottom-wrapper{
  padding: 40px 0;
  display: flex;
  justify-content: center;
  background-color: #fbeef3;
}
.main-bottom-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 1200px;
  min-width: 1200px;
}

.main-bottom-title{
  font-family: GimhaeGaya, cursive;
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;

  color: #f86689;
}
.main-bottom-contents-box{
  width: 100%;
  display:  grid;
  grid-template-columns: 8fr 4fr;
  gap: 24px;
}

.main-bottom-current-contents{
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.main-bottom-popular-card{
  grid-column: 2/3;
  background: white;
  padding: 20px;
}
.main-bottom-popular-card-container{
  gap: 24px;
  display: flex;
  flex-direction: column;

}
.main-bottom-popular-card-title{
  font-family: GimhaeGaya, cursive;
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  color: #f86689;
}
.main-bottom-popular-card-contents{
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.main-bottom-pagination-box{
  margin-top: 60px;
  justify-content: center;
  display: flex;
}
