#search-wrapper{
  padding: 40px 0;
  display: flex;
  justify-content: center;
  background-color: #fbeef3;
}
.search-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 1200px;
  min-width: 1200px;
}
.search-title-box{
  display: flex;
  gap: 8px;
}
.search-title{
  font-family: GimhaeGaya, cursive;
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;

  color: #f86689;
}
.search-title-emphasis{
  font-family: GimhaeGaya, cursive;
  font-size: 24px;
  font-weight: 600;
  line-height: 140%;

  color: #f86689;
}
.search-count {
  font-family: GimhaeGaya, cursive;
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;

  color: #f86689;
}
.search-contents-box{
  width: 100%;
  display: grid;
  grid-template-columns: 8fr 4fr;
  gap: 24px;
}
.search-contents{
  grid-column:  1/2;

  display: flex;
  flex-direction: column;

  gap: 16px;
}
