#search-wrapper{
  min-height: 1080px;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  background-color: #fbeef3;
}
.search-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 1200px;
  min-width: 1200px;
}
.search-title-box{
  display: flex;
  gap: 8px;
}
.search-title{
  font-family: GimhaeGaya, cursive;
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;

  color: #f86689;
}
.search-title-emphasis{
  font-family: GimhaeGaya, cursive;
  font-size: 24px;
  font-weight: 600;
  line-height: 140%;

  color: #f86689;
}
.search-count {
  font-family: GimhaeGaya, cursive;
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;

  color: #f86689;
}
.search-contents-box{
  width: 100%;
  display: grid;
  grid-template-columns: 8fr 4fr;
  gap: 24px;
}
.search-contents{
  grid-column:  1/2;

  display: flex;
  flex-direction: column;

  gap: 16px;
}
.search-contents-nothing{
  margin-top: 82px;
  font-family: GimhaeGaya, cursive;
  height: 310px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: gray;
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
}
.search-relation-box{
  grid-column:  2/3;
}
.search-relation-card{
  padding: 24px;
  background: white;
}
.search-relation-card-container{
  display: flex;
  flex-direction: column;

  gap: 24px;
}
.search-relation-card-title{
  font-family: GimhaeGaya, cursive;
  color: #f86689;
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
}
.search-relation-card-contents{
  display: flex;
  flex-wrap: wrap;

  gap: 12px;
}
.search-relation-card-contents-nothing{
  font-family: GimhaeGaya, cursive;
  height: 310px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: gray;
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
}
.search-pagination-box{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}