#board-detail-wrapper{
  padding: 100px 0;
  display: flex;
  justify-content: center;
}
.board-detail-container {
  width: 996px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.board-detail-top{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.board-detail-top-header{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.board-detail-title{
  color: black;
  font-size: 32px;
  font-weight: 500;
  line-height: 140%;
}
.board-detail-top-sub-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.board-detail-write-info-box{
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}
.board-detail-writer-profile-image{
  border-radius: 32px;
  width: 32px;
  height: 32px;

  background-size: 100% 100%;
  background-position: 50% 50%;
}
.board-detail-writer-nickname{
  font-weight: 450;
  color: black;
  font-size: 16px;
  line-height: 140%;
  cursor: pointer;
}
.board-detail-info-divider,.board-detail-write-date{
  font-weight: 400;
  color: gray;
  font-size: 16px;
  line-height: 140%;
}
.board-detail-more-box{
  position: absolute;
  right: 0;
  background-color: #ffebee;
  box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.25);
  margin-bottom: 130px;
}
.board-detail-update-button{
  width: 143px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: gray;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}
.board-detail-delete-button{
  width: 143px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #ff4f79;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}
.board-detail-delete-button:hover{
  cursor: pointer;
  background-color: #ffd9e6;
}
.board-detail-update-button:hover{
  cursor: pointer;
  background-color: #ffd9e6;
}
.board-detail-top-main{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.board-detail-main-text{
  color: black;
  font-size: 18px;
  font-weight: 450;
  line-height: 150%;

  white-space: pre-wrap;
}
.board-detail-main-image{
  width: 100%;
}
#board-detail-bottom{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.board-detail-bottom-button-box{
  display: flex;
  gap: 12px;
}
.board-detail-bottom-button-group{
  display: flex;
  align-items: center;
  gap: 6px;
}
.board-detail-bottom-button-text{
  color: gray;
  font-size: 16px;
  font-weight: 450;
  line-height: 140%;
}
.board-detail-bottom-favorite-box{
  border: 1px solid #ff4f79;
  padding: 20px 20px 40px;
}
.board-detail-bottom-favorite-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.board-detail-bottom-favorite-title{
  color: #ff4f79;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}
.board-detail-bottom-favorite-contents{
  display: flex;
  flex-wrap: wrap;

  row-gap: 20px;
  column-gap: 30px;
}
.board-detail-bottom-comment-box{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.board-detail-bottom-comment-container{
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.board-detail-bottom-comment-title{
  color: #ff4f79;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}
.board-detail-bottom-comment-list-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.board-detail-bottom-comment-pagination-box{
  display: flex;
  justify-content: center;
}
.board-detail-bottom-comment-input-box{
  border: 1px solid #ff4f79;
  padding: 20px;
}
.board-detail-bottom-comment-textarea{
  border: none;
  resize: none;
  outline: none;
  background: none;

  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  overflow: hidden;
}
.board-detail-bottom-comment-button-box{
  display: flex;
  justify-content: flex-end;
}